.head{
    font-family : "Verdana";
	display: flex;
	margin-left: 30px ;
}
body {
	background: linear-gradient(135deg, #ed42a6 0%, #db0d86 100%);
}

.head{
	background-color: white;
	width: auto;
}
#pdp{
    background-color : blue;
	width : 75px;
	height : 75px;
	margin-right: 20px;
	border-radius:50%;
	margin-top: 10px;
}

#pseudo {
	margin-top: 35px;
	
}

#inutile {
	position: absolute;
	right: 50px;
	font-size: 30px;
}

.ligne{
	background-color: black;
	height: 1px;
	width: 100%;
	
}

#ligne_bas{
	margin-bottom: 10px;
	position: fixed;
	bottom: 100px;

}

#ligne_haut {
	margin-top: 10px;
}

.bas{
	position: fixed;
	bottom: 0px;
	height: 110px;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.choix{
	display: table;
	margin: auto;
}
.option {
	width: auto;
	height: 30px;
	background-color: white;
	bottom: 35px;
	border-radius: 20px;
	display: flex;
	float: right;
	align-items: center;
	margin: 50px ;
	position: relative;
	
	
}

#opt1 {
	
}
