<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Tindr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_discussion.css') }}" />
</head>
<body>
  
  <div class = "head">
      <div id="pdp"></div>
      <p> Laura est a 9 m d chez vous </p>
  </div>
  
  <div class = "discussion">
    <div class= "msg" id= "msg1" class= "left"></div>
    <div class= "msg" id= "msg2" class= "right"></div>
  </div>
  
  <div class = "choix">
    <div class= "option" id= "opt1"></div>
    <div class= "option" id= "opt2"></div>
    <div class= "option" id= "opt3"></div>
  </div>
  
</body>
</html>
