<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Tindr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index2.css') }}" />
</head>
<body>
  <div class="container">
    <h1>Tindr</h1>
    <div class="carte-tas" id="carte-tas"></div>
    <div class="bouton">
      <button id="pass">&#10006;</button>
      <button id="match">&#10084;</button>
    </div>
  </div>


  <div id="notification">🎉 Match ! Une page de discussion est disponible.</div>


  <script src="{{ url_for('static', filename='index3.js') }}"></script>
</body>
</html>
