<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Tindr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <div class = "photodeprofil" id="pdp">
            
        </div>
        <div class = "bouton">
            <button id= "coeur"><img src="2599271-icone-style-silhouette-coeur-rose-gratuit-vectoriel.jpg"></img></button>
            <button id= "swipe"></button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
